.mainPlace {
    margin: 10px;
}

.mainPlace img {
    object-fit: cover;
    height: 200px;
    width: 100%;
    border: 0.15rem solid lightcoral;
    border-radius: 0.25rem;
    display: inline-block;
}

.placeInfo {
    display: flex;
    flex-direction: column;
}

.placeHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0% 5%;
    border-bottom: 1px dotted black;
}

.placeName {
    font-size: 18px;
    font-style: oblique;
    letter-spacing: 1.5px;
}

.placeDesc {
    padding: 10px;
    text-align: justify;
    font-size: 16px;
    color: #617d98;
}

.placePrice {
    font-size: 18px;
    letter-spacing: 1.5px;
    color: lightcoral;
}